body{
    background-color: #FDFEFB;
    
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}